# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
*.lock
.DS_Store
